.aboutSection {
  @include flexCenter(row, space-between);
  @include sectionMargin;
  .textSection {
    flex: 1.25;
    margin-right: 2rem;

    .title {
      font-size: size("title");
      @include setFont("Poppins", 600);
      margin-bottom: 2rem;
    }

    .accentText {
      @include setFont("Poppins", 500);
      position: relative;
      padding-left: 20px;
      color: $secondary-color;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $secondary-color;
      }
    }

    p {
      margin-bottom: 2rem;
    }

    .lastArticle {
      margin-bottom: 0;
    }
  }

  .imgSection {
    flex: 0.4;

    img {
      object-fit: cover;
      width: 100%;
      max-width: 600px;
    }
  }
}
