.advantagesSection {
  margin-top: 5rem;
  margin-bottom: 0;
  @include flexCenter(column, center);
  width: 100%;

  .title {
    @include setFont("Poppins", 600);
    font-size: size("title");
  }

  .advantagesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    .advantage {
      @include flexCenter(row, center);
      align-items: start;

      .subtitle {
        @include setFont("Poppins", 600);
        font-size: size("subtitle");
        margin-bottom: 1rem;
      }

      .icon {
        margin-right: 2rem;

        img {
          max-width: 80px;
          object-fit: cover;
        }
      }
    }
  }
  .buttonContainer {
    margin-top: 3rem;
  }
}
