.benefitsContainer {
  @include sectionMargin;
  @include flexCenter(column, start);
  margin-top: sectionMargin("xxl");
  margin-bottom: 0;
  align-items: start;
  width: 100%;

  .title {
    @include setFont("Poppins", 600);
    font-size: size("title");
  }

  .benefitsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    row-gap: 3rem;
  }

  .benefit {
    @include flexCenter(row, start);
    align-items: start;

    .icon {
      margin-right: 2rem;
      font-size: 3rem;
      color: $secondary-color;
    }

    .text {
      .subtitle {
        @include setFont("Poppins", 600);
        font-size: size("subtitle");
        margin-bottom: 1.2rem;
      }
    }
  }
}
