.button {
  @include buttonWidth(100%);
  border: none;
  cursor: pointer;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  border-radius: $border-radius;
  background-color: $primary-color;
  transition: transition("normal");
  background-color: $secondary-color;
  padding: 10px 20px;
  font-size: size("button");
  font-weight: weight("bold");
  @include setFont("Poppins", 600);

  &.accent {
    background-color: $secondary-color;

    &:hover {
      background-color: brighter-color($secondary-color);
    }
  }
}
