.catalogSection {
  @include sectionMargin;
  @include flexCenter(column, center);
  margin-top: sectionMargin("xxl");
  margin-bottom: 0;
  width: 100%;
  .wrapper {
    @include flexCenter(column, space-between);
    width: wrapperWidth("xl");
  }

  .title {
    @include setFont("Poppins", 600);
    font-size: size("title");
  }

  .fullCatalog {
    width: 100%;
    @include flexCenter(row, space-between);
    .text {
      margin-left: 2rem;
      .name {
        @include setFont("Poppins", 600);
        font-size: size("title");
        margin-bottom: 1.5rem;
      }

      .subtitle {
        @include setFont("Poppins", 500);
        font-size: size("subtitle");
        margin-bottom: 1rem;
      }

      .article {
        margin-bottom: 2rem;
      }

      .benefits {
        display: grid;
        gap: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .images {
      @include flexCenter(row, center);
      align-items: start;

      .currentImage {
        width: 330px;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}
