$primary-color: #202020;
$secondary-color: #a50808;
$darker-gray: #777676;
$border-radius: 0.1rem;
$wrapper-width: 90%;
$weight-fonts: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-sizes: (
  "label": clamp(2rem, 4vw, 4rem),
  "title": clamp(1.8rem, 3vw, 3.5rem),
  "subtitle": clamp(1.2rem, 1.7vw, 2rem),
  "article": clamp(1rem, 1.5vw, 1.8rem),
  "button": clamp(1.2rem, 1.5vw, 1.4rem)
);
$transition-times: (
  "fast": 0.2s,
  "normal": 0.35s,
  "slow": 0.5s
);
$font-families: (
  "Montserrat": Montserrat,
  "Poppins": Poppins
);

@function weight($weight-name) {
  @return map-get($weight-fonts, $weight-name);
}

@function size($size-name) {
  @return map-get($font-sizes, $size-name);
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@function brighter-color($base-color) {
  @return lighten($base-color, 15%);
}

@function transition($transition-time) {
  @return all map-get($transition-times, $transition-time) ease-in-out;
}

@mixin buttonWidth($width: auto) {
  width: $width; 
}

@mixin setFont($font-family, $font-weight) {
  font-family: $font-family;
  font-weight: $font-weight;
}

@mixin flexCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

@mixin media-mob {
  @media screen and (max-width: 460px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-lg { 
  @media screen and (max-width: 1250px) {
    @content;
  }

}

@mixin media-xl {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin sectionMargin {
  margin: 3rem 0;
}


@mixin titleText {
  @include setFont("Poppins", 600);
  font-size: size("title");
  font-weight: weight("bold");
}

* {
  @include setFont("Poppins", 300);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.5;
}
