footer {
  background-color: black;
  width: 100%;
  margin-top: 4rem;

  .details {
    @include flexCenter(row, start);
    align-items: start;
    max-width: 1500px;
    padding: 3rem 4rem;
    color: set-text-color($primary-color);

    .data,
    .contacts {
      width: 100%;
    }

    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
      margin-bottom: 2rem;
    }

    .personalData {
      margin-right: 3rem;
      display: grid;
      gap: 1rem;
      p {
        max-width: 800px;
      }
    }

    .contacts {
      .sosials {
        @include flexCenter(row, start);
        gap: 1rem;
        font-size: size("label");
      }
    }
  }
}
