footer {
  position: relative;
  background-color: black;
  @include flexCenter(row, center);
  width: 100%;
  margin-top: sectionMargin("xxl");
  margin-bottom: 0;

  .details {
    @include flexCenter(row, start);
    width: wrapperWidth("xxl");
    align-items: start;
    max-width: 1800px;
    padding: 4rem 0;
    color: set-text-color($primary-color);

    .data,
    .contacts {
      width: 100%;
    }

    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
      margin-bottom: 2rem;
    }

    .personalData {
      @include flexCenter(row, start);
      margin-right: 3rem;
      display: grid;
      .detail {
        margin-bottom: 1rem;
      }

      .detail {
        @include flexCenter(row, start);

        .icon {
          margin-right: 1.5rem;
        }
      }

      p {
        max-width: 800px;
      }
    }

    .contacts {
      .sosials {
        @include flexCenter(row, start);
        gap: 1rem;
        font-size: size("title");
      }
    }
  }
  .creatorSection {
    @include flexCenter(row, end);
    position: absolute;
    bottom: 10px;
    color: rgb(132, 132, 132);
    font-size: 13px;
  }
}
