footer {
  background-color: black;
  @include flexCenter(row, center);
  width: 100%;
  margin-top: 4rem;

  .details {
    width: wrapperWidth("xxl");
    @include flexCenter(row, start);
    align-items: start;
    max-width: 1800px;
    padding: 4rem 0;
    color: set-text-color($primary-color);

    .data,
    .contacts {
      width: 100%;
    }

    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
      margin-bottom: 2rem;
    }

    .personalData {
      margin-right: 3rem;
      display: grid;
      .detail {
        margin-bottom: 1rem;
      }

      p {
        max-width: 800px;
      }
    }

    .contacts {
      .sosials {
        @include flexCenter(row, start);
        gap: 1rem;
        font-size: size("title");
      }
    }
  }
}
