header {
  @include flexCenter(row, center);
  position: relative;
  width: 100%;
  padding-top: 45.25%;
  overflow: hidden;
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../assets/carHeader.jpg") no-repeat center top;
  background-size: cover;
  font-family: "Poppins";

  nav {
    @include flexCenter(row, space-between);
    position: absolute;
    top: 15px;
    width: wrapperWidth("xl");

    .logo {
      font-weight: weight("bold");
      font-size: size("subtitle");
      z-index: 10;

      &.open {
        background-color: transparent;
        position: fixed;

        left: 2rem;
        right: 3rem;
      }
    }

    .burger-menu-container {
      @include flexCenter(row, center);
      height: 30px;
      width: 30px;

      .burger-menu-wrapper {
        padding: 30px;
        cursor: pointer;
        background-color: inherit;
        .burger-menu {
          position: absolute;
          z-index: 10;
          right: 0;
          width: 32px;
          height: 3px;
          background-color: set-text-color($primary-color);
          transition: transition("normal");

          &::before {
            position: absolute;
            content: "";
            top: -8px;
            width: 32px;
            height: 3px;
            background-color: set-text-color($primary-color);
            transition: transition("normal");
          }

          &::after {
            position: absolute;
            content: "";
            top: 8px;
            width: 25px;
            height: 3px;
            background-color: set-text-color($primary-color);
            transition: transition("normal");
          }

          &.open {
            transform: rotate(360deg);
            background-color: transparent;
            position: fixed;

            top: 2rem;
            right: 3rem;

            &::before {
              transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
              width: 32px;
              transform: rotate(-45deg) translate(3px, -7px);
            }
          }
        }
      }
    }

    .nav-block {
      @include flexCenter(row, center);
      justify-content: space-between;
      width: 100%;
      font-size: size("nav");

      ul {
        @include flexCenter(row, center);
        margin: 0 50px;
        flex: 1;

        .phone {
          @include setFont("Poppins", 600);
          margin-right: 50px;
        }

        a {
          @include setFont("Poppins", 200);
          padding: 0 10px;
          transition: transition("normal");
          cursor: pointer;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    .languages {
      @include flexCenter(row, space-between);
      gap: 10px;

      p {
        @include setFont("Poppins", 300);
        background-color: $darker-gray;
        cursor: pointer;
        padding: 2px 14px;
        border-radius: $border-radius;
        font-size: size("bold");
        transition: transition("normal");

        &:hover {
          background-color: $secondary-color;
        }

        &.active {
          background-color: $secondary-color;
        }
      }
    }
  }

  .header-content-wrapper {
    @include flexCenter(column, center);
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 0;
    .header-content {
      @include flexCenter(column, center);
      align-items: start;
      width: wrapperWidth("xl");

      .title {
        @include setFont("Poppins", 600);
        font-weight: weight("bold");
        font-size: size("label");
        border-radius: 0.05rem;
      }

      .subtitle {
        @include setFont("Poppins", 600);
        font-size: size("subtitle");
      }

      .article {
        font-size: size("article");
        width: wrapperWidth("xl") - 5%;
        max-width: 800px;
        margin-bottom: 2rem;
      }
    }
  }
}
