.managmentSection {
  @include flexCenter(column, center);
  @include sectionMargin;

  .title {
    @include setFont("Poppins", 600);
    font-size: size("title");
    margin-bottom: 3rem;
  }

  .subtitle {
    @include setFont("Poppins", 300);
    font-size: size("subtitle");
    margin-bottom: 2rem;
  }

  .details {
    @include flexCenter(row, space-between);
    align-items: start;
    gap: 10rem;

    .on {
      img {
        width: 100%;
      }

      .subtitle {
        @include setFont("Poppins", 600);
        font-size: size("subtitle");
        margin: 3rem 0;
      }

      .article {
        margin: 1.5rem 0;
        @include flexCenter(row, center);
        align-items: start;

        .icon {
          margin-right: 2rem;
        }
      }
    }

    .off {
      img {
        width: 100%;
      }

      .article {
        margin: 1.5rem 0;
      }
    }
  }
}
