.managmentSection {
  @include flexCenter(column, center);
  width: 100%;
  position: relative;
  margin-bottom: 0;
  .wrapper {
    @include flexCenter(column, center);
    @include sectionMargin;
    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
    }

    .subtitle {
      @include setFont("Poppins", 300);
      font-size: size("subtitle");
      margin-bottom: 2rem;
    }

    .details {
      @include flexCenter(row, space-between);
      align-items: start;
      gap: 10rem;

      .on {
        flex: 1;
        img {
          width: 100%;
          max-width: 500px;
        }

        .subtitle {
          @include setFont("Poppins", 600);
          font-size: size("subtitle");
          margin: 1.5rem 0;
        }

        .article {
          margin: 2rem 0;
          @include flexCenter(row, center);
          align-items: start;

          .icon {
            margin-right: 2rem;
            width: 80px;
            object-fit: cover;
          }
        }
      }

      .off {
        flex: 1;
        img {
          width: 100%;
          max-width: 500px;
        }

        .article {
          margin: 1.5rem 0;
        }
      }
    }

    .imageContiner {
      visibility: visible;
      @include flexCenter(row, end);
      position: absolute;
      bottom: -18rem;
      right: 0;

      img {
        width: 85%;
        object-fit: cover;
      }
    }
  }
}
