#root {
  @include flexCenter(column, center);
  width: 100%;

  .wrapper {
    @include flexCenter(column, center);
    width: wrapperWidth("xxl");
    max-width: 1800px;
  }
}

@include media-xl {
  #root {
    .wrapper {
      width: wrapperWidth("xl");
    }
  }

  .catalogSection {
    .wrapper {
      width: wrapperWidth("xl");
    }
  }

  header {
    padding-top: 50%;

    nav {
      width: wrapperWidth("xl");
    }
  }

  footer {
    .details {
      width: wrapperWidth("xl");
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 100px;
              width: 100px;
            }
          }
        }

        .currentImage {
          img {
            height: 500px;
            width: 500px;
          }
        }
      }
    }
  }

  .managmentSection {
    .wrapper {
      .imageContiner {
        visibility: visible;
        @include flexCenter(row, end);
        position: absolute;
        bottom: -12rem;
        right: 0;

        img {
          max-width: 40%;
          object-fit: cover;
        }
      }
    }
  }
}

@include media-lg {
  footer {
    .details {
      width: wrapperWidth("lg");
    }
  }
  #root {
    .wrapper {
      width: wrapperWidth("lg");
    }
  }

  .catalogSection {
    .wrapper {
      width: wrapperWidth("lg");
    }
  }

  header {
    padding-top: 50%;

    nav {
      width: wrapperWidth("lg");
    }
  }
  .managmentSection {
    .wrapper {
      .imageContiner {
        visibility: visible;
        @include flexCenter(row, end);
        position: absolute;
        bottom: -8rem;
        right: 0;

        img {
          width: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);

        .text {
          margin-left: 0;
        }

        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 110px;
              width: 110px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 550px;
            width: 550px;
          }
        }
      }
    }
  }
}

@include media-md {
  footer {
    .details {
      width: wrapperWidth("md");
    }
  }
  #root {
    .wrapper {
      width: wrapperWidth("md");
    }
  }

  .catalogSection {
    .wrapper {
      width: wrapperWidth("md");
    }
  }

  header {
    padding-top: 50%;

    nav {
      width: wrapperWidth("md");
    }
  }

  header {
    padding-top: 60%;
    nav {
      .burger-menu-container {
        .screen-nav-block {
          @include flexCenter(column, center);
          position: relative;
          font-size: size("title");
          z-index: 9;
          position: fixed;
          top: 0;
          left: 0;
          height: 100vh;

          width: 100vw;
          background-color: $primary-color;
          opacity: 0.97;
          visibility: hidden;

          ul {
            @include flexCenter(column, center);
            @include setFont("Poppins", 300);
            gap: 2rem;
            margin-bottom: 5rem;

            a {
              &:hover {
                transition: transition("normal");
                color: $secondary-color;
              }
            }
          }

          &.open {
            visibility: visible;

            .contactData {
              font-size: size("article");
              position: fixed;
              bottom: 4rem;
              left: 2rem;
            }

            .sosials {
              font-size: size("title");
              position: fixed;
              bottom: 1rem;
              left: 2rem;

              a {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }

  .aboutSection {
    @include flexCenter(column, space-between);
    .textSection {
      margin-right: 0;
      @include flexCenter(column, center);
    }

    .imgSection {
      @include flexCenter(row, center);
      align-items: start;
      gap: 3rem;
      margin-bottom: 2rem;

      img {
        object-fit: cover;
        width: 50%;
        max-height: 500px;
      }
    }
  }

  .benefitsContainer {
    .benefitsGrid {
      grid-template-columns: 1fr;
    }

    .benefit {
      .icon {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }

  .advantagesSection {
    @include sectionMargin;
    @include flexCenter(column, center);
    width: 100%;

    .advantagesGrid {
      grid-template-columns: 1fr;
      gap: 2rem;

      .advantage {
        .icon {
          img {
            max-width: 60px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .managmentSection {
    .wrapper {
      @include flexCenter(row, center);
      margin-bottom: 0;
      .imageContiner {
        display: none;
        visibility: hidden;
      }

      .details {
        @include flexCenter(column, space-between);
        gap: 2rem;

        .on {
          img {
            width: 70%;
          }
          .subtitle {
            @include setFont("Poppins", 600);
            font-size: size("subtitle");
            margin: 1rem 0;
          }

          .article {
            margin: 2rem 0;
            @include flexCenter(row, center);
            align-items: start;

            .icon {
              margin-right: 2rem;
              width: 60px;
              object-fit: cover;
            }
          }
        }
        .off {
          img {
            width: 70%;
          }
        }
      }
    }
  }

  .aboutSection {
    @include flexCenter(column, space-between);
    .textSection {
      margin-right: 0;
      @include flexCenter(column, center);
    }

    .imgSection {
      @include flexCenter(row, center);
      align-items: start;
      gap: 1rem;
      margin-bottom: 0;
    }
  }
}

@include media-sm {
  footer {
    .details {
      width: wrapperWidth("sm");
    }
  }

  #root {
    .wrapper {
      width: wrapperWidth("sm");
    }
  }

  .catalogSection {
    .wrapper {
      width: wrapperWidth("sm");
    }
  }

  header {
    padding-top: 50%;

    nav {
      width: wrapperWidth("sm");
    }
  }

  header {
    padding-top: 110%;

    .header-content {
      margin-top: 60px;

      .title,
      .subtitle,
      .article {
        margin-bottom: 1.5rem;
      }

      .article {
        width: 92%;
      }
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 70px;
              width: 70px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 350px;
            width: 350px;
          }
        }
      }
    }
  }

  .advantagesSection {
    @include sectionMargin;
    @include flexCenter(column, center);
    width: 100%;

    .advantagesGrid {
      grid-template-columns: 1fr;
      gap: 2rem;

      .advantage {
        .icon {
          img {
            max-width: 40px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .managmentSection {
    @include flexCenter(column, center);
    @include sectionMargin;

    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
      margin-bottom: 0;
    }

    .subtitle {
      @include setFont("Poppins", 300);
      font-size: size("subtitle");
      margin-bottom: 1rem;
    }

    .details {
      @include flexCenter(column, space-between);
      align-items: start;
      gap: 2rem;

      .on {
        img {
          width: 70%;
        }

        .subtitle {
          @include setFont("Poppins", 600);
          font-size: size("subtitle");
          margin: 1rem 0 2rem 0;
        }

        .article {
          margin: 1.5rem 0;
          @include flexCenter(row, center);
          align-items: start;

          .icon {
            margin-right: 1rem;
            max-width: 40px;
          }
        }
      }

      .off {
        img {
          width: 70%;
        }

        .article {
          margin: 1.5rem 0;
        }
      }
    }
  }

  footer {
    background-color: black;
    width: 100%;

    .details {
      @include flexCenter(column, center);
      align-items: center;
      padding: 3rem 0;
      color: set-text-color($primary-color);

      .contacts {
        margin-top: 3rem;
      }

      .title {
        @include setFont("Poppins", 600);
        font-size: size("title");
        margin-bottom: 1.5rem;
      }

      .personalData {
        margin-right: 0;
        display: grid;
        gap: 1rem;
        p {
          max-width: none;
        }
      }

      .contacts {
        .sosials {
          @include flexCenter(row, start);
          gap: 1rem;
          font-size: size("label");
        }
      }
    }
  }
}

@include media-mob {
  header {
    padding-top: 150%;

    .header-content {
      .article {
        font-size: size("article");
        width: 96%;
        margin-bottom: 2rem;
      }
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 60px;
              width: 60px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 250px;
            width: 250px;
          }
        }
      }
    }
  }

  .advantagesSection {
    @include sectionMargin;
    @include flexCenter(column, center);
    width: 100%;

    .advantagesGrid {
      grid-template-columns: 1fr;
      gap: 2rem;

      .advantage {
        .icon {
          img {
            max-width: 40px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .managmentSection {
    @include flexCenter(column, center);
    @include sectionMargin;

    .title {
      @include setFont("Poppins", 600);
      font-size: size("title");
      margin-bottom: 0;
    }

    .subtitle {
      @include setFont("Poppins", 300);
      font-size: size("subtitle");
      margin-bottom: 1rem;
    }

    .details {
      @include flexCenter(column, space-between);
      align-items: start;
      gap: 1rem;

      .on {
        img {
          width: 70%;
        }

        .subtitle {
          @include setFont("Poppins", 600);
          font-size: size("subtitle");
          margin: 1rem 0 2rem 0;
        }

        .article {
          margin: 1.5rem 0;
          @include flexCenter(row, center);
          align-items: start;

          .icon {
            margin-right: 0;
            max-width: 40px;
          }
        }
      }

      .off {
        img {
          width: 70%;
        }

        .article {
          margin: 1.5rem 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #root {
    .vectorImage {
      width: 100%;
      height: 200px;
      position: relative;

      img {
        position: absolute;
        right: 0;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}
