@include media-xl {
  header {
    padding-top: 50%;
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 100px;
              width: 100px;
            }
          }
        }

        .currentImage {
          img {
            height: 500px;
            width: 500px;
          }
        }
      }
    }
  }
}

@include media-lg {
  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);

        .text {
          margin-left: 0;
        }

        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 110px;
              width: 110px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 550px;
            width: 550px;
          }
        }
      }
    }
  }
}

@include media-md {
  header {
    padding-top: 60%;
  }

  .aboutSection {
    @include flexCenter(column, space-between);

    .imgSection {
      flex: 0.75;
      margin-bottom: 2rem;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 700px;
      }
    }
  }

  .benefitsContainer {
    .benefitsGrid {
      grid-template-columns: 1fr;
    }

    .benefit {
      .icon {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }
}

@include media-sm {
  header {
    padding-top: 110%;

    .header-content {
      margin-top: 60px;

      .title,
      .subtitle,
      .article {
        margin-bottom: 1.5rem;
      }

      .article {
        width: 92%;
      }
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 70px;
              width: 70px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 350px;
            width: 350px;
          }
        }
      }
    }
  }
}

@include media-mob {
  header {
    padding-top: 150%;

    .header-content {
      .article {
        font-size: size("article");
        width: 96%;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .catalogSection {
    .wrapper {
      .fullCatalog {
        @include flexCenter(column, center);
        .images {
          .catalogImage {
            cursor: pointer;
            img {
              height: 60px;
              width: 60px;
            }
          }
        }

        .currentImage {
          margin-bottom: 2rem;
          img {
            height: 250px;
            width: 250px;
          }
        }
      }
    }
  }
}
