@import "config";
@import "about";
@import "benefits";
@import "catalog";
@import "footer";
@import "header";
@import "howItWorks";
@import "advantages";
@import "managment";
@import "order";
@import "managment";
@import "button";
@import "responsive";

body {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  line-height: 1;
  font-size: size("article");
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

#root {
  @include flexCenter(column, center);
  width: 100%;

  .wrapper {
    @include flexCenter(column, center);
    width: $wrapper-width;
  }
}
