@import "config";
@import "about";
@import "benefits";
@import "catalog";
@import "footer";
@import "header";
@import "howItWorks";
@import "advantages";
@import "managment";
@import "order";
@import "managment";
@import "button";
@import "input";
@import "title";
@import "statistics";
@import "responsive";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  line-height: 1;
  font-size: size("article");
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.vectorImage {
  width: 100%;
  height: 280px;
  position: relative;

  img {
    position: absolute;
    right: 0;
    height: 100%;
    object-fit: cover;
  }
}
